/* ======= Normal Profile Picture ====== */
.profilePicture {
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

/* ====== NFT Profile Picture ========= */

.NFTContainer {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  background: var(--color-bg);
  box-sizing: border-box;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
.NFTContainer2 {
  position: absolute;
  background-color: var(--color-bg);
  top: 2px;
  left: 2px;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.NFTImage {
  margin-right: 10px;
  cursor: pointer;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  width: 100%;
  height: 100%;
  min-width: 40px;
  min-height: 40px;
}
