.communities{
    width: 55%;
    position: absolute;
    left: var(--sidebar-width);
    color: var(--color-white);
    top: 15vh;
    padding-bottom: 200px;
    
}
.mainWindow{
    
    left: var(--sidebar-width);
  
   max-width: 60vw;
    
    
}
.back {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }
.communities li{
    width: 95%;
   
    margin-left: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 1.2rem;
    cursor: pointer;
    padding: 7px 7px;
   
}
.communities li:hover{
    background-color: var(--color-hover);
}
.bannerimg{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align:top;
    float:left;
    margin-right: 1vw;
}
.communities li p{
    display: inline-block;
    margin-top: 1vw;
    font-weight: bold;
   
}
.des{
   display: inline;
   font-size: 12px;
   word-wrap: break-word;
 
}
.mainWindow{
 position: absolute;
  top: 7.5vh;
  left: var(--sidebar-width);
  width: 100%;
  overflow-x: hidden;
}
.post{
    height: fit-content;
    min-height: 68vh;
    max-height: 70vh;
    overflow-y: auto;
    width: 80vw;
    overflow-x: hidden;
}
.edit{
    position: relative;
    top: 0px;
    left: 28vw;
    cursor: pointer;
}
.dropDown {
    position: absolute;
    left: 34.3vw;
    width: 14.5vw;
    display: none;
    z-index: 5;
    background-color: var(--color-hover);
   padding: 0;
   
    border-radius: 7px;
    box-shadow: 3px 6px 10px var(--color-primary);
  }
  .dropDown li {
    padding: 7px;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
   
  }
  .dropDown li:hover {
    font-weight: bold;
    background-color: var(--color-primary);
  }
@media all and (min-width: 2000px) {
    .des{
        font-size: 1.3rem;
        
    }
    .communities li p{
        font-size: 1.5rem;
    }
}
@media all and (max-width: 1000px) {
    .communities{
        width: 75vw;
        
    }
}
@media all and (max-width: 700px) {
    .communities{
        width: 100vw;
        left:0px
    }
    .bannerimg{
        width: 100px;
        height: 100px;
        margin-right: 15px;
    }
    .mainWindow{
        width: 100vw;
        max-width: 100vw;
        left: 0px;
        padding-bottom: 60px;
       
    }
    .post{
        width: 100%;
        min-height: 61vh;
        height: 62vh;
        
    }
    .edit{
        left: 49vw;
    }
    .dropDown {
        width: 50vw;
       
        left: 45vw;
        
    }

}
@media all and (max-width: 1020px) and (min-width: 506px) {
    .mainWindow {
      width: calc(95vw - var(--sidebar-width));
    }
  }