/* This is the stylesheet for the index.js or the home page */

/* Body of the website */
.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgba(47, 49, 54, 255);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.content {
  /* Used to place the sidebar/rightbar in the center */
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
/* End of the body */

/* Sidebar */
.sideBar {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  color: var(--color-white);
  height: 100%;
  padding-left: 5.859375vw;
  background-color: var(--color-bg2);
}
/* End of sidebar */

/* Rightbar */
.rightBar {
  position: fixed;
  top: 0px;
  left: 77%;
  width: calc((100vw - 600px) * 0.7);
  color: var(--color-white);
  height: 100%;
  background-color: var(--color-bg2);
  z-index: 6;
}
/* End of rightbar */
.hide {
  display: none;
}
/* ==== Media Queries ===== */
@media all and (max-width: 1135px) {
  .rightBar {
    left: 73%;
  }
}
@media all and (max-width: 1015px) {
  .rightBar {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .sideBar {
    display: none;
  }
}
