/* ===== Main Window ==== */
.mainWindow {
  width: 800px;
}
/* ====== Chat Box ====== */

.evaBox {
  width: 48vw;  
}
.emojii {
  width: 19px;
  margin-right: 350px;
}
/* Page indentifier */
.pageIdentify {

  background-color: var(--color-page-identify);
  position: fixed;
  padding: 7px;
  top: 0px;
  left: var(--sidebar-width);
  color: var(--color-white);
  width: 100vw;
  height: 60px;
  font-weight: bold;
  font-size: 21px;
  z-index: 5;
  display: flex;
   align-items:center;
}
.profileToMenu{
  width: 39px;
  height: 39px;
  object-fit: cover;
  cursor: pointer;
  margin-left: 1vw;
  margin-right: 2vw;
  border-radius: 50%;
}
.profileEva {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(63, 63, 63);
  padding: 20px;
}
.profilePic {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
  height: 50px;
}
.profilePici {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
  height: 50px;
  display: inline-block;
}
.removeuploadbtn {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.452);
  display: flex;
  justify-content: center;
  padding: 3.5px 0;
  z-index: 10;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.imagecontainer {
  position: relative;
}
.imgOrEva {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.eva {
  background-color: var(--color-primary);
  padding: 0.7510416666666666vw 1.4020833333333333vw;
  border-radius: 1000px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  transition: var(--hover-transition);
}
.eva:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}
.evaOptions {
  display: flex;
  margin-right: 50px;
  gap: 10px;
}
.imgDiv {
  margin-left: 10px;
  border-radius: 50%;
}
.imgDiv:hover {
  cursor: pointer;
}
.evaImg {
  width: 98%;
  border-radius: 10px;
  max-width: 450px;
}
/* ========= Feeds ======== */

.feeds {
  width: 100%;
  height: 8.2vh;
  border-bottom: 0.5px solid rgb(76, 73, 73);
  overflow: hidden;
}
.feed {
  display: inline-block;
  margin-left: 20px;
  background-color: var(--color-feed);
  color: var(--color-white);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  margin-top: 8px;
}
.feed:hover {
  background-color: var(--color-feed-hover);
}
.mainContent {
  width: 56.8vw;
  position: relative;
  left: var(--sidebar-width);
  margin-top: 10vh;
}
.loadmore {
  width: 100%;
  height: 4vw;
  text-align: center;
  justify-content: center;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  padding-top: 10px;
}
.loadmore:hover {
  background-color: var(--color-hover);
}

.evaText{
  background-color: transparent;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  color: white;
  border: none;
  outline: none;
  padding-left: 20px;
  font-weight: 500;
  width:100%;
  height: 8vh;
  overflow: auto;
  max-height:200px;
}
.create{
  display: none;
}


/* =========== Media Queries ======= */

@media all and (max-width: 1309px) {
  .feed:nth-child(8) {
    display: none;
  }
}
@media all and (max-width: 1205px) {
  .feed:nth-child(7) {
    display: none;
  }
}
@media all and (max-width: 1155px) {
  .feeds {
    width: 80vw;
  }
  .feed:nth-child(7) {
    display: inline-block;
  }
  .evaBox {
    width: 80vw;
  }
}
@media all and (max-width: 1135px) {
  .feed:nth-child(7) {
    display: none;
  }
}
@media all and (max-width: 1015px) {
  .feed:nth-child(7) {
    display: inline-block;
  }
}
@media all and (max-width: 860px) {
  .feed:nth-child(7) {
    display: none;
  }
}
@media all and (max-width: 960px) {
  .profileEva {
    width: 70vw;
  }
}
@media all and (max-width: 755px) {
  
  .feeds {
    width: 78vw;
  }
  .feed:nth-child(6) {
    display: none;
  }
  .eva {
    padding: 2vw 3vw;
  }
}
@media all and (max-width: 633px) {
  .feed:nth-child(5) {
    display: none;
  }
}
@media all and (max-width: 574px) {
  .feed:nth-child(4) {
    display: none;
  }
}
@media all and (max-width: 525px) {
  .feed:nth-child(4) {
    display: none;
  }
}
@media all and (max-width: 465px) {
  .feed:nth-child(3) {
    display: none;
  }
}
@media all and (max-width: 700px) {
  .profileEva {
    width: 90vw;
  }
  .mainContent {
    left: 0;
    margin-top: 7vh;
  }

  .feeds {
    width: 100vw;
    height: fit-content;
    padding-bottom: 10px;

   
  }
  .feed:nth-child(3) {
    display: inline-block;
  }
  
  .evaBox{
    width: 100vw;
  }
  .feed{
    font-size: 1.1rem;
    margin-top: 2vw;
    padding: 4px 11px;
    border-radius: 14px;
    display: inline-block;
   
  }
  .create{
    display: block;
    position: fixed;
    bottom:15vh;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--color-primary);
    z-index: 999;
    box-shadow: 3px 3px 10px var(--color-black);
    cursor: pointer;
  }
  .pageIdentify {
    left: 0;
  }

}
@media all and (max-width: 412px) {
  .feed:nth-child(6) {
    display: none;
  }
}
/* ========= Larger devices ============ */
@media all and (min-width: 1500px) {
  .eva {
    margin-right: 70px;
  }
  .profilePic {
    width: 64px;
    height: 64px;
  }
  .feed {
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 15px;
  }
}
/* ========= Even Larger devices ============ */
@media all and (min-width: 2000px) {
  .feed{
    font-size: 1.6rem;
  }
  .feeds{
    height: fit-content;
  }
  .feed{
    margin-bottom: 1vh;
  }
  .profilePic{
    width: 80px;
    height: 80px;
    margin-left: 1vw;
  }
  .evaText{
    font-size: 2rem;
  }
  .eva{
    font-size: 1.7rem;
  }
  
  
}