.bar {
  width: 100vw;
  height: 11vh;
  background-color: var(--color-hover);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  color: white;
  border-top: 0.5px solid var(--color-black);
  display: none;
}
.hide {
  display: none;
}

.item {
  width: 32px;
  height: 32px;
  margin-top: 2.4vh;
  display: inline-block;
}
.btn {
  display: inline-block;
  width: 36vw;
  height: 6.4vh;
  border-radius: 15px;
  color: var(--color-white);
  margin-left: 23px;
  margin-top: 10px;
  cursor: pointer;
  background-image: linear-gradient(
    var(--color-primary),
    var(--color-secondary)
  );
}

@media all and (max-width: 700px) {
  .bar{
    display: block;
  }
}
