.modal{
   
    position: absolute;
    top: 50%;
    left: 50%;

    
    
    transform: translate(-50%, -50%);
    padding: 10px 7px;
    background-color: var(--color-hover);
    color: var(--color-white);
    border-radius: 20px;
    width: 40vw;
    height: 55vh;
    text-align: center;
    max-height: 100vh;
    overflow-y: auto
    
}
.dragArea{
    border: 2px dashed white;
    height: 15vh;
    border-radius: 5px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5vh;
}
.dragButton{
    margin-top: 3vh;
    width: 11vw;
    height: 7vh;
    border-radius: 6px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}